<!-- As a link -->
<nav class="navbar bg-body">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/ball.png" alt="Pokedex" id="logo" />
            Pokedex Pokè
        </a>
    </div>
</nav>
