@page "/"
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<button class="card card-pokedex text-bg-danger mb-4 rounded-4 grow" @onclick="ToPokedex">
    <div class="card-body">
        <h5 class="card-title display-5">
            <i class="bi bi-record2"></i> Explore Pokèdex <span><i class="bi bi-record2"></i> </span>
        </h5>
        <p class="card-text">This is an encyclopedia that Pokémon Trainers carry with them to record data on the various species of Pokémon they encounter during their journey. </p>
    </div>
</button>

@code{
    protected void ToPokedex()
    {
        NavManager.NavigateTo("/Pokedex");    
    }
}