@page "/pokedex/{pokedexNameOrId}"
@using MyPokedex.Models

<div class="row sticky-top mb-2">
    @if (images.Count < pokedex?.pokemon_entries.Count)
    {
        <button class="btn btn-dark" @onclick="LoadMoreImagesAsync">Load More @pokedex?.name.ToUpper() Creatures</button>
    }
</div>

@code {
    [Parameter]
    public string pokedexNameOrId { get; set; }
    private Models.Pokedex pokedex;
    private List<string> images = new List<string>();
    private int loadedCount = 10; // Numero iniziale di Pokémon da caricare
    private bool isLoading = false;

    protected override async Task OnParametersSetAsync()
    {
        pokedex = await PokeApiService.GetPokedexAsync(pokedexNameOrId);
        if (pokedex != null)
        {
            await LoadMoreImagesAsync(); 
        }
    }

    protected async Task<string> GetPokemonImage(string _pokemon)
    {
        var pokemon = await PokeApiService.GetPokemonAsync(_pokemon);
        return pokemon.sprites.front_default;
    }

    protected async Task LoadMoreImagesAsync()
    {
        if (pokedex == null || isLoading) return;
        isLoading = true;

        var tasks = pokedex.pokemon_entries.Skip(images.Count).Take(loadedCount).Select(async item =>
        {
            var image = await GetPokemonImage(item.pokemon_species.name);
            return image;
        });

        images.AddRange(await Task.WhenAll(tasks));
        isLoading = false;
    }
}

@if (pokedex == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        @for (int i = 0; i < images.Count; i++)
        {
            var item = pokedex.pokemon_entries[i];
            <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                <div class="card m-1" style="width: 100%;">
                    <img class="card-img-top" src="@images[i]" alt="">
                    <div class="card-body">
                        <h5 class="card-title">N° @item.entry_number</h5>
                        <p class="card-text">@item.pokemon_species.name.ToUpper()</p>
                        <a href="#" class="btn btn-sm btn-light">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}